:root{
   /*  COLORES */
    --color-Amarillo: #EAC926;
    --color-Azul: #03264C;
    --color-Celeste: #1259c3;
    --color-Gris-oscuro: #666;
    --color-Gris-claro: #ebebeb;
    --color-Verde: #39b54a;
    /* FUENTES */
    --fuente-roboto: 'Roboto', sans-serif;
    /* TAMAÑOS DE FUENTE */
    --paragraphs-parrafo: 12px;
    --title-titulo: 24px;
    --prices-precios: 18px;
    --discounts-descriptions-descuentos: 16px;

}

/*********************/
/* ESTILOS GENERALES */
/*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

body{
    font-family: var(--fuente-roboto);
    background-color: var(--color-Gris-claro);
   
    
}

li {
    list-style: none;
}
/*********************/
/*  FIN DE ESTILOS GENERALES */
/*********************/


/*****************/
/* INICIO HEADER */
/*****************/

header{
    background-color: var(--color-Amarillo);
    font-size: var(--paragraphs-parrafo);
    padding-bottom: 10px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right:15px ;    
}

header div.logo-busqueda {
    display: flex;   
    justify-content: space-evenly;
    align-items: center;
}


header img.logo{
    height: 40px;
    margin-right: 6px;
}



.container{
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content:space-around;
}

header div .input{
    border-style: none;
    border-radius: 5px;
    border-color: white;
    width: 80%;
 }

.container button{
    background-color: white;
    border: none;
    color: var(--color-grisOscuro);
    height: 30px;
}


header .cuotas{
    text-align: center;
    margin: 15px;
}

header .burger-menu{
    color: white;
    background-color: var(--color-Celeste);
    border-radius: 5px;
    text-align: center;
    width: 28px;
    padding: 7px;
    font-size: 15px;
    margin: 10px auto  0 auto;   
}

header nav{
    display: none;
}


/*****************/
/* FIN INICIO HEADER */
/*****************/


/*****************/
/* INICIO DEL MAIN */
/*****************/
main {
 margin: 15px;
}

.tarjeta{
    background-color:white;
    margin-bottom: 10px;
}
.tarjeta .data{
    border-top: 1px solid var(--color-Gris-claro);
    padding: 15px;
    position: relative;
    width: 95%;
}

.tarjeta .data .envio{
    border: 1px solid var(--color-verde);
    border-radius: 50%;
    padding: 10px;
    /* width: -moz-fit-content; */
    width: fit-content;
    position: absolute;
    top: -18px;
    right: 20px;
}
.tarjeta .data .envio i{
    color: var(--color-Verde);
    transition: ease 2s;    
}

div.envio{
    border: 1px solid var(--color-Verde) !important;   /* SE QUE ESTA MAL USAR LA PROPIEDAD !IMPORTANT  */
}

.tarjeta .data .envio .info-prod{
    display: flex;
    align-items: flex-end;
    display: none;
    transition: ease 2s;
}

.tarjeta :hover .info-prod{
    display: block;
}

.tarjeta :hover .envio .i{
    transform: rotate(360deg);
}

h4.strong{
    display: none;
}

.tarjeta .data .info-prod p:nth-child(1){
    flex-grow: 0.3;
}

.tarjeta .data .info-prod p:nth-child(2){
    flex-grow: 0.7;
    color: var(--color-Verde);
}

.tarjeta .data .info-prod{
    color: var(--color-Gris-oscuro);
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h4.titulo{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-grisOscuro);
    font-size: var(--prices-precios);
}

/****************/
/* FIN DEL MAIN */
/****************/

/*****************/
/* INICIO FOOTER*/
/*****************/
footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

footer article{
    margin-bottom: 40px;
}

footer article p{
    font-size: var(--paragraphs-parrafo);
    width: 70%;
    margin: 0 auto;
}

footer article h4{
    font-size: 14px
}

footer article i{
    color: var(--color-Celeste);
    font-size: 25px;
    margin-bottom: 10px;
}

 footer #copyright{
     font-size: var(--paragraphs-parrafo);
     color: var(--color-Gris-oscuro);
     text-align: left;
     padding-left: 10px;
}

/*****************/
/* FIN FOOTER */
/*****************/

/*INICIO TABLET*/
@media (min-width: 361px){
    /*INICIO HEADER*/
    header{
        padding: 20px 15px;
        
    }

    header .container{
        /* display: flex; */
       
        width: 50%;
    }

    header div .input{
        border-style: none;
        border-radius: 5px;
        border-color: white;
        height: 30px;
        width: 80%;

    }

    header p.cuotas{
        font-size: 14px;
    }
    
    header nav{
        width:100%;
        display:flex;
        justify-content: space-between;
        box-sizing: border-box;
        /* align-items: flex-end;     creo que no hace cambios sacarlo*/ 
    }
    
    nav ul li{
        display: inline;  
        margin: 2px;
    }
 
    /*  header .navbar ul{  /este es el que los mantiene en una misma linea/
      
        display: inline-block;
        justify-content:space-around;
        font-size: 1rem;
    } */

    header .burger-menu{
        display: none;
    }
    
    header img#logo{
        width: 200px;
        margin-left: 40px;
        margin-bottom: 10px;
    
    }

    /*FIN HEADER*/

    /*INICIO MAIN TABLET*/
    .tarjeta{
        width: 49%;
        display: flex;
        flex-wrap: wrap;
    }

    h4.strong{
        display: block;
        margin-top: 8px;
    }
   
    .tarjeta .data .envio{
        border: 1px solid var(--color-verde);
        border-radius: 50%;
        padding: 10px;
        /* width: -moz-fit-content; */
        width: fit-content;
        position: absolute;
        top: -18px;
        right: 10px;
    }
    main section article div strong.strong{
        display: block;
        margin-bottom: 15px;                 
    }
    main section article{
        box-shadow: 0px 0px 5px rgb(100, 100, 100);
    }
   
}

/*INICIO DESKTOP*/
@media(min-width: 769px){

    /* header div.logo-busqueda{
        display: flex;
        width: 60%;
        flex-wrap: wrap;
    } */

    /*  header .container{
        width: 30%;
    }
    */
    .tarjeta{
        width: 32%;
        display: flex;
        flex-wrap: wrap;    
    }
}